@import "../../master";

.cart-title {
  text-align: center;
}
.cart-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cart-title {
  text-align: center;
}
.cart-items {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: flex-end;
}
.order-summary {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 3.5vmin;
  }
  h3 {
    font-size: 2.5vmin;
  }
}
.return-btn {
  width: 20vmin;
  border: 1px solid black;
  background: $base-blue;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
}
.return-btn:hover {
  filter: brightness(0.5);
}
.finish-btn {
  margin-top: 20px;
  width: 22vmin;
  border: 1px solid black;
  background: $base-blue-dark;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
}
.finish-btn:hover {
  filter: brightness(0.5);
}
@media (max-width: 650px) {
  .cart-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .order-summary {
    align-items: center;
    margin-top: 150px;
    margin: 40px;
    text-align: center;

    h1 {
      font-size: 5.5vmin;
    }
    h3 {
      font-size: 4.5vmin;
    }
  }
}
